.content {
  width: 100%;
  background-color: ghostwhite;
  height: auto;
  overflow: hidden;
}
.content .content_inner {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content .content_inner .content_container {
  width: 1200px;
  height: auto;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
}
.content .content_inner .content_container .load {
  padding: 20px 0 50px;
  float: left;
}
.content .content_inner .content_container .load .homepagenomore {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.content .content_inner .content_container .load .homepagenomore span {
  padding: 5px 20px;
  width: 100px;
  text-align: center;
}
