.index_inner {
  float: left;
  border: 2px solid #f12b15;
  background-color: ghostwhite;
  width: 306px;
  margin-left: 20px;
}
.index_inner .channel_title {
  color: white;
  width: 306px;
  height: 37.5px;
  text-align: center;
  background-color: #f12b15;
}
.index_inner .channel_title span {
  line-height: 40px;
}
.index_inner .inner_news_list {
  padding: 10px;
  width: 286px;
}
.index_inner .inner_news_list .news_item {
  padding: 5px;
  border-bottom: 1px solid ghostwhite;
  margin-bottom: 10px;
}
.index_inner .inner_news_list .news_item .news_img img {
  width: 276px;
  height: 155px;
}
.index_inner .inner_news_list .news_item .news_title {
  width: 276px;
  font-size: 14px;
}
.index_inner .inner_news_list .news_item .news_title h3 {
  margin: 0;
}
.index_inner .inner_news_list .news_item .news_title h3 a:hover {
  color: #040265;
}
.index_inner .inner_news_list .news_item .news_footer {
  font-size: 12px;
  color: #777;
  padding: 10px 0 0;
}
.index_inner .inner_news_list .news_item .news_footer .news_author {
  margin-right: 10px;
}
.index_inner .inner_news_list .news_item .news_footer .comments {
  float: right;
  margin-right: 15px;
}
.index_inner .inner_news_list .news_item .news_footer .comments i {
  margin-right: 4px;
}
.index_inner .inner_news_list .inner_news_item:hover {
  background-color: white;
  box-shadow: 1px 1px 1px gray;
}
